<div class="header">
  <div class="logo">
    <img src="assets/logo-videoservice-2x.png" alt="video-service-logo" routerLink="home">
    <div class="logo-image" routerLink="home">
      <div class="circle"></div>
      <div class="triangle"></div>
    </div>

    <div class="logo-text" routerLink="home" >
      Видеоcервис
    </div>
  </div>

  <div class="search">
    <mat-form-field class="search-form-field" [color]="'warn'">
      <input id="search" name="search" matInput type="text" placeholder="Поиск..." [formControl]="searchControl">
    </mat-form-field>
    <label id="search-label" (click)="search()">Найти</label>
  </div>


  <div class="profile">
    <button *ngIf="!userAuthenticated; else authenticated" mat-button (click)="openAuth()" class="sign-in">
      Войти
    </button>

    <ng-template #authenticated>
      <div class="user-name" (click)="changeName()">
        <input type="text" matInput
               [readonly]="!changingUserName"
               [formControl]="changingUserNameControl"
               (keydown.enter)="saveName()"
               (focusout)="saveName()">
      </div>

      <button class="sign-out" (click)="singOut()">
        Выйти
      </button>

      <div class="user-name-adaptive" >


        <button class="user-profile-menu-adaptive" [matMenuTriggerFor]="profileMenu" mat-ripple>
          {{user.firstName}} {{user.lastName | nameFirstLetter}}
        </button>

        <mat-menu #profileMenu >
          <div mat-menu-item
                  (click)="$event.stopPropagation();changeName()"
                   class="menu-item-change-name">
            <div class="change-name-div">
              {{'Логин: '}}
              <input type="text" inputmode="text" matInput
                      [formControl]="changingUserNameControl" >
              <button mat-button (click)="saveName()">
                OK
              </button>
            </div>
          </div>
          <button mat-menu-item class="sign-out-adaptive" (click)="singOut()">
            Выйти
          </button>
        </mat-menu>
      </div>
    </ng-template>
  </div>
</div>



