<div class="header">
  <div class="logo">
    <div class="logo-image" routerLink="home">
      <div class="circle"></div>
      <div class="triangle"></div>
    </div>

    <div class="logo-text" routerLink="home">
      Видеоcервис
    </div>
  </div>

  <div class="search">
    <mat-form-field class="search-form-field">
      <input id="search" name="search" matInput type="text" placeholder="Поиск..." [formControl]="searchControl">
    </mat-form-field>
    <label (click)="search()">Найти</label>
  </div>


  <div class="profile">
    <button *ngIf="!userAuthenticated; else authenticated" mat-button (click)="openAuth()">
      Войти
    </button>

    <ng-template #authenticated>
      <div class="user-name" (click)="changeName()">
        <input type="text" matInput
               [readonly]="!changingUserName"
               [formControl]="changingUserNameControl"
               (keydown.enter)="saveName()"
               (focusout)="saveName()">
      </div>

      <button class="sign-out" (click)="singOut()">
        Выйти
      </button>
    </ng-template>
  </div>
</div>



