.sign-out {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: red;
}

.user-name {
  width: 114px;
  height: 19px;
  font-family: Rubik, serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;

  input {
    text-align: center;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}


.logo {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .logo-image {
    display: grid;
    grid-template: 1fr / 1fr;
  }

  .circle {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: 36px;
    height: 36px;
    shape-outside: circle();
    clip-path: circle();
    background: red;
    z-index: 3;
  }

  .triangle {
    z-index: 4;
    transform: rotate(88deg);
    position: relative;
    background: white;
    left: 7px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: 36px;
    height: 36px;
    shape-outside: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

.logo-text {
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
}

.search {
  width: 100%;
  min-width: 402px;
  min-height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.search-form-field {
  width: 320px;
  margin-right: 32px;
}

label {
  margin-left: 10px;
  color: red;
  font-size: 1em;
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  button {
    background: red;
    color: white;
  }

  button.sign-out {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    color: red;
    border: 0;
  }
}
