.login-button{
  margin-top: auto;
}

.auth-dialog{
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  button{
    background: red;
    color: white;
  }

  .auth-inputs{
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
  }
}
