.tv-channels-container{
  margin-top: 27px;
  display: flex;
  flex-flow: column nowrap;

  @media (max-width: 750px) {
    margin: 27px 20px 0px 20px;
  }
}

.channel{
  display: flex;
  flex-flow: row nowrap;
  max-width: 1180px;
  width: 100%;
  height: 162px;
  margin: 0 0 16px;
  box-sizing: border-box;
  padding: 21px 0 0 0;
  border-radius: 8px;
  background-color: #f2f2f2;

  .channel-logo{

    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 114px;

    img{
      max-width: 114px;
      max-height: 114px;
    }

  }

  .channel-name{
    margin-bottom: 17px;
    max-width: 280px;
    width: 100%;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .channel-info{
    flex: 2 1;
  }

}

.program{
  margin-bottom: 12px;
  display: flex;
  flex-flow: row nowrap;

  &:first-of-type{
    color: #e5261e;
  }

  .program-time{
    width: 46px;
    height: 19px;
    margin-right: 16px;
    font-family: Rubik, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  .program-name{
    max-width: 694px;
    width: 100%;
    height: 19px;
    font-family: Rubik, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
}

.channel-programs {
  box-sizing: border-box;
  width: min-content;
}
