<div class="scroll-bar" [style.width.px]="scrollBarWidth" >
  <div #bar class="content-inside-scrollbar"  (scroll)="setScrollInfo($event)" (mouseup)="scrollBarDragged = false" >
    <ng-content></ng-content>
  </div>
  <div
      #horizontal
      class="thumb"
      [@showHide]="isScrolled || mouseOverTrumb ? 'show' : 'hide'"
      [class.thumb_active]="horizontalThumbActive"
      [style.width.%]="info.horizontalSize"
      [style.left.%]="info.horizontalPosition"
      (mousedown)="onHorizontalStart($event)"
      (mouseover)="mouseOverToggle(true)"
      (mouseleave)="mouseOverToggle(false)"
      (mouseup)="scrollBarDragged = false"
      (document:mousemove)="onHorizontalMove($event, horizontal, $event.target)"
  ></div>
</div>
