.scroll-bar{
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow: hidden;
  //background: red;
  display: grid;
  grid-template: 1fr / 1fr;
  width: max-content;
  &::-webkit-scrollbar {
    display: none;
  }
}

.content-inside-scrollbar{
  box-sizing: content-box;

  //disable scrollbar, without functionality

  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.thumb-vertical{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  width: 5px;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }


  background: linear-gradient(45deg, rgba(186, 0, 1, 0.6), rgba(138, 129, 0, 0.83));
  border-radius: 3px;
  background-clip: content-box;
  right: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  pointer-events: auto;
  &:hover,
  &:active {
  }

  .bar_horizontal &:hover,
  .bar_horizontal &:active {
    width: 2px;
  }
}

.thumb {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  height: 5px;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }


  background: linear-gradient(to right, rgba(255, 82, 77, 0.59), rgba(152, 131, 255, 0.76));
  border-radius: 3px;
  background-clip: content-box;
  bottom: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  pointer-events: auto;
  &:hover,
  &:active {
  }

  .bar_horizontal &:hover,
  .bar_horizontal &:active {
    height: 2px;
  }
}
