.scroll-bar{
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow: hidden;
  background: red;
  display: grid;
  grid-template: 1fr / 1fr;
  width: max-content;
  &::-webkit-scrollbar {
    display: none;
  }
}

.content-inside-scrollbar{

  //border-bottom: solid 18px;

  //border-image: ;
  box-sizing: content-box;

  //disable scrollbar, without functionality

  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }


  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background: linear-gradient(-180deg, #f69080, #836df1, #15635f 100%);;
}

.thumb {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  height: 5px;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }


  background: linear-gradient(to right, red, orange);
  border-radius: 3px;
  background-clip: content-box;
  bottom: 5px;
  //border: 10px solid;
  //border-bottom: 4px;
  border: 1px solid transparent;
  //border-s
  //background-color: rgba(51, 51, 51, .24);
  cursor: pointer;
  pointer-events: auto;
  //background-clip: content-box;
  //box-sizing: ;
  //background-clip: padding-box; /* !importanté */
  //border: solid $border transparent;
  //border-image: linear-gradient(to right, red, orange);


  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0; right: 0; bottom: 0; left: 0;
  //  z-index: -1;
  //  margin: -5px; /* !importanté */
  //  border-radius: inherit; /* !importanté */
  //  background: linear-gradient(to right, red, orange);
  //}
  &:hover,
  &:active {
    //background-color: rgba(51, 51, 51, .56);
  }

  .bar_horizontal &:hover,
  .bar_horizontal &:active {
    height: 2px;
  }
}
