header{
  width: 1180px;
  margin: 0 auto;
}

.main-content{
  width: 1180px;
  margin: 0 auto 60px;
}

footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #F2F2F2;
}


