
<div class="movies-container" >

  <div class="new">
    <div class="title">
      <div class="text">🔥Новинки</div>
    </div>


    <div [ngClass]="{'new-items': true, 'showed-smoothly': showedSmoothly}"  >

      <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging" [style.width.px]="this.owlSliderWidth" (initialized)="showSmoothly()">

        <ng-container  *ngFor="let item of (filteredMovies$ | async)">

          <ng-template  carouselSlide>
            <div class="new-item slider-item" [owlRouterLink]="'/movie/' + item.id" [stopLink]="isDragging" >
              <div class="image">
                <img class="preview-poster" [src]="item.previewPoster" alt="">
                <div class="movie-description">{{item.description}}</div>
              </div>
              <div class="short-description remove-to-name">{{item.name}}</div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>

  </div>


  <div class="genres">
    <div class="title">Жанры</div>

    <app-scroll-bar [scrollBarWidth]="1180">

      <div class="genre-items">

        <div class="genre-item" *ngFor="let genre of genreItems">
          <div class="genre-icon">
            {{genre.icon}}
          </div>
          <div class="genre-name">
            {{genre.name}}
          </div>
        </div>
      </div>
    </app-scroll-bar>
  </div>
</div>
