.movies-container {
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  ;

  &::-webkit-scrollbar {
    display: none;
  }

  //z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  width: 100%;

  .new {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    height: 482px;


    .display-carpet{
      position: absolute;
      width: 1180px;
      height: 482px;
      background: black;
      z-index: 100;
    }

    .title {
      max-width: 134px;
      width: 100%;
      height: 28px;
      margin-bottom: 20px;

      .text {
        max-width: 134px;
        width: 100%;
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        white-space: nowrap;
      }

      //@media (max-width: 750px) {
      //  align-self: center;
      //}
    }


    .new-items {
      opacity: 0;
      height: 434px;
      -ms-overflow-style: none; /* IE and Edge */;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      &::-webkit-scrollbar {
        display: none;
      }

      grid-auto-flow: column;
      grid-column-gap: 20px;

      @media (max-width: 750px) {
        display: flex;
      };
    }

    .showed-smoothly{
      opacity: 1;
      transition: opacity 600ms ease;
    }

    .new-item {
      height: 434px;
      width: 280px;
      outline: none;

      .image {
        display: grid;
        grid-template: 1fr / 1fr;
        z-index: 2;
        position: relative;

        &:hover{
          & > .movie-description{
            opacity: 1;
            cursor: pointer;
            //filter: brightness(1);
          }

          & > .preview-poster{
            opacity: 1;
            cursor: pointer;
            filter: brightness(0.4);
          }
        }

        .preview-poster {
          position: relative;
          grid-column: 1 / 1;
          grid-row: 1 / 1;
          z-index: 3;
        }

        .movie-description {
          position: relative;
          border-radius: 8px;
          font-family: Rubik, serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #f2f2f2;
          padding: 16px;
          box-sizing: border-box;
          width: 280px;
          height: 370px;
          grid-column: 1 / 1;
          grid-row: 1 / 1;
          opacity: 0;
          z-index: 5;
        }
      }
    }

    @media (max-width: 750px) {
      margin: auto;
    }


  }

  .genres {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1180px;
    width: 100%;
    //disable scrollbar, without functionality
    overflow-x: hidden;

    .title {
      width: 134px;
      height: 28px;
      margin-bottom: 20px;

      font-family: Rubik, monospace;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #333333;
    }

    .genre-items {
      //disable scrollbar, without functionality
      -ms-overflow-style: none; /* IE and Edge */


      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: column;
      grid-column-gap: 20px;

      //disable scrollbar, without functionality
      &::-webkit-scrollbar {
        display: none;
      }

      .genre-item {
        position: relative;
        height: 208px;
        width: 280px;
        border-radius: 6px;
        box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.15);
        background: linear-gradient(45deg, #ff0000, #ff9900, #ccff00, #00d0ff, #6e00ff) fixed top center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .genre-icon {
          width: 48px;
          height: 48px;
          font-size: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .genre-name {
          font-size: 20px;
          position: absolute;
          bottom: 24px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    @media (max-width: 750px) {
      margin: 0 20px;
      width: auto;
    }
  }

}

.preview-poster {
  max-width: 280px !important;
  width: 280px !important; //to override the slider style
  height: 370px;
  border-radius: 8px;
}

.short-description {
  margin-top: 12px;
  min-width: 280px;
  min-height: 48px;

  font-family: Rubik, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

//scrollbar

app-scroll-bar{
  display: flex;
}
