$comment-max-size: 335px;

.movie-container {
  margin-top: 52px;

  @media (max-width: 950px) {
    margin: 52px 20px 0 20px;
  }

}

//movie part

.movie {
  margin-bottom: 48px;
  min-height: 370px;
  //margin: 30px 50px 60px 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.movie-poster {
  width: 280px;
  height: 370px;
  margin: 0 120px 0 97px;

  img {
    width: 280px;
    height: 370px;
  }

  @media (max-width: 950px) {
    margin: auto;
  }

}

.movie-info {
  max-height: 370px;
  max-width: 580px;
  flex-basis: 50%;
  //width: min-content;

  .name, .country, .genre {
    max-width: 548px;
    width: 100%;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-bottom: 16px;


    .info-content {
      font-family: Rubik, serif;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
  }

  .name {
    .info-content {
      font-weight: 700;
    }
  }
}

.info-title {
  width: 80px;
  margin-right: 24px;
}

.description {
  margin-top: 23px;
}

//comments part

.comments {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  .comments-title {
    width: 137px;
    height: 24px;
    font-family: Rubik, serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-bottom: 24px;
  }

  .comment-block {
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 15px;

    .comment {
      box-sizing: border-box;
      max-width: 780px;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      background-color: #f2f2f2;
      margin-right: 15px;
      display: flex;
      flex-flow: column nowrap;

      .comment-username {
        font-family: Rubik, serif;
        font-size: 16px;
        font-weight: 500;
        height: 19px;
        margin-bottom: 8px;
      }

      .comment-text {
        min-height: 19px;
      }
    }

    .remove-comment-button {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\274c";
        font-size: 15px;
        color: #fff;
        line-height: 15px;
        text-align: center;

        @media (max-width: 850px) {
          left: -15px;
        }
      }
    }

    @media (max-width: 850px) {
      margin-left: 0;
      margin-right: 0;

      .comment {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .comment-input {
    display: flex;
    flex-flow: row wrap;
    margin-left: 190px;
    max-width: 970px;
    width: 100%;

    .input {
      display: grid;
      grid-template: 1fr / 1fr;

      max-width: 780px;
      width: 100%;
      //width: 780px;
      height: 110px;
      margin: 0 16px 0 0;
      border-radius: 8px;
      background: rgba(#e5261e, 0.15);

      textarea {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        z-index: 7;
        max-width: 748px;
        width: 100%;
        margin: 16px;
        //width: 748px;
        height: 78px;
        background: transparent;
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        resize: none;

        font-family: Rubik;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;

        &::placeholder {
          color: #e5261e;
        }
      }

      span{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        z-index: 6;

        position: relative;
        width: fit-content;
        height: fit-content;
      }
    }

    .publish-button {
      width: 174px;
      height: 38px;
      color: white;
      background: red;
    }

    @media (max-width: 950px) {
      margin: 0;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      max-width: 910px;

      .input{
        margin-right: 0;
        //margin-bottom: 10px;
      }

      .publish-button{
        align-self: flex-end;
        margin: 10px 0 10px 10px;
      }
    }
  }
}

.back-button {
  color: red;
  height: 20px;
  width: 20px;
  transform: scale(1.5) scaleY(1.8);
  outline: none;
  user-select: none;

  @media (max-width: 950px) {
    position: absolute;

  }
}

.comment-length-error {
  font-size: xx-small;
  color: red;
}
