.movie-container{
  margin-top: 52px;
}


//movie

.movie {
  margin-bottom: 48px;
  //margin: 30px 50px 60px 20px;
  height: 370px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.movie-poster {
  width: 280px;
  height: 370px;
  margin: 0 120px 0 97px;

  img{
    width: 280px;
    height: 370px;
  }

}

.movie-info {
  height: 370px;

  .name, .country, .genre{
    width: 584px;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin-bottom: 16px;


    .info-content{

      //&:{
      //  font-weight: 500;
      //}
      //height: 24px;
      //margin: 0 0 16px 24px;
      font-family: Rubik;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
    //width: 80px;
    //height: 19px;
    ////margin: 4px 24px 17px 120px;
    //font-family: Rubik;
    //font-size: 16px;
    //font-weight: normal;
    //font-stretch: normal;
    //font-style: normal;
    //line-height: normal;
    //letter-spacing: normal;
    //text-align: left;
    //color: #333333;

  }

  .country{
    //width: 80px;
    //height: 19px;
    ////margin: 4px 24px 17px 120px;
    //font-family: Rubik;
    //font-size: 16px;
    //font-weight: normal;
    //font-stretch: normal;
    //font-style: normal;
    //line-height: normal;
    //letter-spacing: normal;
    //text-align: left;
    //color: #333333;
  }

  .genre{

  }

  .name{
    .info-content{
      font-weight: 700;
    }
  }
}

.info-title{
  width: 80px;
  margin-right: 24px;
}

.description{
  margin-top: 23px;
}

//comments

.comments{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  .comments-title{
    width: 137px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-bottom: 24px;
  }

  .comment-block{
    margin-top: 16px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 15px;
    .comment{
      box-sizing: border-box;
      width: 780px;
      //height: 135px;
      padding: 16px;
      border-radius: 8px;
      background-color: #f2f2f2;
      margin-right: 15px;
      display: flex;
      flex-flow: column nowrap;

      .comment-username{

        height: 19px;
        margin-bottom: 8px;
      }

      .comment-text{
        min-height: 19px;
      }
    }

    .remove-comment-button{
      position: relative;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\274c";
        font-size: 15px;
        color: #fff;
        line-height: 15px;
        text-align: center;
      }
    }
  }

  .comment-input{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 190px;
    //display: grid;
    //flex-flow: row nowrap;
    .input{
      width: 780px;
      height: 110px;
      margin: 0 16px 0 0;
      //padding: 16px 579px 75px 16px;
      opacity: 0.15;
      border-radius: 8px;
      background-color: #e5261e;
    }

    .publish-button{
      width: 174px;
      height: 38px;
      color: white;
      background: red;
    }
  }
}
