<div class="movie-container">
  <div class="movie">

    <div class="back-button" routerLink="/home">
      <
    </div>

    <div class="movie-poster">
      <img [src]="movie.moviePosterUrl" alt="">
    </div>

    <div class="movie-info">

      <div class="name">
        <div class="info-title">Название:</div>
        <div class="info-content">{{movie.name}}</div>
      </div>

      <div class="country">
        <div class="info-title">Страна:</div>
        <div class="info-content">{{movie.country}}</div>
      </div>

      <div class="genre">
        <div class="info-title">Жанр:</div>
        <div class="info-content">{{movie.genre}}</div>
      </div>

      <div class="description">{{movie.description}}</div>
    </div>
  </div>

  <div class="comments">

    <div class="comments-title">
      Комментарии
    </div>

    <div class="comment-input">

      <div class="input">
        <textarea name="" id="" placeholder="Введите комментарий..." [formControl]="commentControl"></textarea>
      </div>

      <button [disabled]="!currentUser" class="publish-button" mat-button (click)="saveComment()">
        Опубликовать
      </button>
    </div>

    <div class="comment-block" *ngFor="let comment of movie.comments">

      <div class="comment">

        <div class="comment-username">
          {{comment.username}}
        </div>

        <div class="comment-text">
          {{comment.commentText}}
        </div>
      </div>

      <div class="remove-comment-button"
           *ngIf="currentUser && comment.userId === currentUser.id"
           (click)="removeComment(comment.id)">
      </div>
    </div>
  </div>
</div>
