// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$video-service-primary: mat-palette($mat-indigo);
$video-service-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$video-service-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$video-service-theme: mat-light-theme((
  color: (
    primary: $video-service-primary,
    accent: $video-service-accent,
    warn: $video-service-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($video-service-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//tabs used in main.component.ts
.mat-tab-header {
  border-bottom: 0;
}

.mat-tab-group.mat-primary, .mat-tab-nav-bar.mat-primary {
  .mat-ink-bar {
    background-color: red;
  }
}

.mat-tab-label-active {
  color: red !important;
}

.mat-tab-label {
  color: black;
  opacity: 1 !important;
}


//Auth Background

.auth-background{
  backdrop-filter: blur(3px);
}

//scrollbar

//:host {
//  //position: relative;
//  //display: flex;
//  //overflow: auto;
//  //z-index: 0;
//  scrollbar-width: none;
//  -ms-overflow-style: none;
//
//  &::-webkit-scrollbar {
//    background: transparent;
//    width: 0;
//    height: 0;
//  }
//}

//::-webkit-scrollbar {
//  width: 0;               /* width of the entire scrollbar */
//}

//::-webkit-scrollbar-track {
//  width: 0;
//  background: transparent;        /* color of the tracking area */
//}

//::-webkit-scrollbar-thumb {
  //background-color: blue;    /* color of the scroll thumb */
  //border-radius: 20px;       /* roundness of the scroll thumb */
  //border: 3px solid orange;  /* creates padding around scroll thumb */
//}


